{% extends "webapp/base.html" %}

{% block content  %}
<br>
    <h4> Welcome to Dashboard! {{ user }} 👋 </h4>
    <hr>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-customer' %}" > Create a Customer Details &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <hr>
    <table class="table table-bordered table-light table-hover ">
        <thead class="table table-primary">
            <tr>
                <th scope="col"> ID</th>
                <th scope="col"> Firs Name </th>
                <th scope="col"> Last Name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone Number </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col">County </th>
                <th scope="col"> Post Code </th>
                <th scope="col"> Date Created </th>
                <th scope="col"> View | Edit </th>
            </tr>
        </thead>

    {% for record in records %}
    <tbody>
        {% if records  %}
        <tr>
        <td> {{ record.id }} </td>
        <td>  {{ record.first_name}} </td>
        <td>  {{ record.last_name}} </td>
        <td>  {{ record.email}} </td>
        <td>  {{ record.phone_number}} </td>
        <td>  {{ record.address}} </td>
        <td>  {{ record.city}} </td>
        <td>  {{ record.county}} </td>
        <td>  {{ record.post_code}} </td>
        <td>  {{ record.created_date }} </td>
       
        <td> &nbsp; &nbsp; &nbsp; &nbsp;   <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>
        </tr>
        {% endif %}
    </tbody>
    {% endfor %}
   
</table>

   


{% endblock  %}
